<footer class="">
  <!-- Footer -->
  	<div class="container">

		<hr class="mb-3">

	<div class="row mb-3 text-center">
		<div class="col-md-4">
			<p class="font-weight-bold mb-2"><strong>Liens utiles</strong></p>
			<ul class="list-unstyled">
				<li><a href="#">Documentation</a></li>
			</ul>
		</div>

		<div class="col-md-4">
			<p class="font-weight-bold mb-2"><strong>Équipe</strong></p>
			<ul class="list-unstyled">
				<li><a href="#">À propos de nous</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
		</div>

		<div class="col-md-4">
			<p class="font-weight-bold mb-2"><strong>Ressources</strong></p>
			<ul class="list-unstyled">
				<li><a href="#">Politique de confidentialité</a></li>
			</ul>
		</div>
	</div>

		<hr class="col-10 mx-auto">

		<div class="row">
			<div class=" text-center">
				<p class="text-muted">Béocler © 2023</p>
			</div>
		</div>

  	</div>
</footer>
