<footer class="bg-orange text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<h3>Informations de contact</h3>
				<p>Adresse : CS 92003, 15 Av. René Cassin, Saint-Denis Cedex 9 97400, La Réunion</p>
				<p>Email : contact@example.com</p>
				<p>Téléphone : (123) 456-7890</p>
			</div>
			<div class="col-md-6 text-center">
				<h3>Liens rapides</h3>
				<ul class="footer-links">
					<li>
						<a href="{{ path('test_index')}}">
							Bériche, chef de projet au bord du burn-out, témoigne : "Je n'ai jamais travaillé avec autant d'abrutis en même temps"
						</a>
					</li>
					<a href="{{ path('admin_item_add')}}">
						Vivez le parcours d'alexandre, un développeur d'élite face à l'épreuve d'une équipe qui peine"
					</a>
					<li>
						<a href="#">Sous pression : le témoignage de Pauline, développeuse dépassée par les délais</a>
					</li>
					<li>
						<a href="#">Services</a>
					</li>
					<li>
						<a href="#">À propos</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
					<li>
						<a href="https://fr.wikipedia.org/wiki/Histoire_de_l%27esclavage">
							Julien Lenormand, champion de la démission : Un regard sur sa vie sans effort
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
