<h1>Modification de votre mot de passe</h1>

<p>Bonjour
	{{ user.name }},</p>

<p>Nous avons bien pris en compte la modification de votre mot de passe sur le site Béocler.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez nous contacter immédiatement.</p>

<p>Pour toute question ou préoccupation, n'hésitez pas à nous joindre.</p>

<p>Cordialement,</p>

<p>L'équipe Béocler</p>
